.header {
    height: 34vw;
    margin: 30px auto;
    background: url('../../../public/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
/*หาก 4.5vw ให้ค่าที่มากกว่า 22px (เช่นในหน้าจอที่กว้างมาก), ขนาดฟอนต์จะเป็นไปตาม 4.5vw
หาก 22px ให้ค่าที่มากกว่า 4.5vw (เช่นในหน้าจอที่แคบ), ขนาดฟอนต์จะเป็น 22px

ตย.
ในหน้าจอที่มีความกว้าง 800px:
4.5vw = 800 * 0.045 = 36px (มากกว่า 22px → ใช้ 36px)
ในหน้าจอที่มีความกว้าง 400px:
4.5vw = 400 * 0.045 = 18px (น้อยกว่า 22px → ใช้ 22px)
*/
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    
}